@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital@1&family=Raleway:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html{
    scrollbar-color: #323232 #000;
    scrollbar-width: 2px;
    scroll-behavior: smooth;
    font-size: 10px;
}

.flexbox-container-1,.flexbox-container-2,.flexbox-container-3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}   

.flexbox-item{
    width: 50%;
    margin: 0;
    /*border: 3px solid rgb(70, 68, 68);*/
    background-color: rgb(207, 172, 172);
    text-align: center;
    font-size: 5rem;
    overflow: hidden;
}

.content-1,.content-2, .footer{
    height: 20vh;
    text-align: center;
    /*padding: 50px 60px; Trying to avoid using px*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.flexbox-item-1,.flexbox-item-2,.flexbox-item-3,.flexbox-item-4{
    position: relative;
    background-position: center;
    opacity: 0.7;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.flexbox-item-1 {
    min-height: 100vh;
    background-image: url("assets/Guitar1.jpg");
    width:100%;
}

.flexbox-item-2 {
    min-height: 90vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-item-3 {
    min-height: 90vh;
    background-image: url("assets/Guitar2.jpg");
}

.flexbox-item-3:hover{
    animation: overlap 1s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.flexbox-item-4{
    min-height: 65vh;
    /*what to do about width?*/
    width:580px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #ffffff;
    position: relative;
    align-items: center;

}

.navbar{
    position: fixed;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    overflow: hidden;
    height: 2.5vh;
    padding: 20px;
    width: 100%;
    /*what does z index mean?*/
    z-index: 10;
}

.navbar a{
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    padding: 14px 16px;
    margin:0px;
    transition: 500ms;
}

.navbar a:hover{
    color:rgb(205, 205, 205)
}

body{
    margin:0px;
    font-family: 'Raleway', sans-serif;
}

.Text{
    position: relative;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.7rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 500ms;
}

.Text:hover{
    color:rgb(205, 205, 205);
}

.mainText{
    position: relative;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.7rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    opacity: 100%;
}
.mainText .border{
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 20px;
    opacity: 100%;
    z-index:1;
}

.sub-item{
    text-align: center;
    font-size: 5rem;
    text-align: center;
    height:250px;
    width:250px;
    margin-bottom:5px;
    border-radius: 10px;
    padding: 10px;
    background-image: url();
}

.sub-item:hover{
    animation: box 300ms ease-in-out;
    animation-fill-mode: forwards;
}

.sub-item:hover .boxText{
    opacity: 100%;
}

.sub-item-1{
    background-image: url("assets/pexels-cristian-benavides-2049411.jpg");
}

.sub-item-2{
    background-image: url("assets/2.jpg");
}

.sub-item-3{
    background-image: url("assets/3.jpg");
}

.sub-item-4{
    background-image: url("assets/4.jpg");
}

.sub-item-1, .sub-item-2, .sub-item-3, .sub-item-4{
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    font-size: 2.5rem;
}

.image{
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 100%;
    border-radius: 10px;
}

@keyframes box {
    0%{
        transform: scale(1);
        opacity: 100%;
    }
    100%{
        transform: scale(1.05);
        opacity: 90%;
    }
}

/*This is not working @keyframes overlap {
    0%{
        width:50%;
    }
    100%{
        width:100%;
    }
} */
.boxText{
    color: #ffffff;
    z-index: 10;
    font-family: 'Kanit', sans-serif;
    opacity: 0%;
    transition: 300ms ease-in-out;
}

.Quote{
    position: relative;
    color: #000000;
    font-family: 'Source Code Pro', monospace;
    font-size:4rem;
    padding: 20px;
}

.footer{
    height:30vh;
    background-color: #323232;
    padding: 0px;
    margin: 0px;
    opacity: 90%;
}

.btn {
    text-decoration: none;
    color: #ffffff;
    position: relative;
    top:40%;
    right: 0%;
    font-size: 3rem;
    padding: 20px;
    margin: 30px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    text-align: center;
}

.btn:hover{
    background-color: #ffffff;
    color: white;
}

body::-webkit-scrollbar{
    width: 2px;
}

body::-webkit-scrollbar-track{
    background-color: #000;
}

body::-webkit-scrollbar-thumb{
    background-color: #323232;
}
